asgiref==3.9.1
distlib==0.4.0
dj-database-url==3.0.1
Django==5.2.5
django-cors-headers==4.9.0
djangorestframework==3.16.1
filelock==3.19.1
packaging==25.0
platformdirs==4.3.8
psycopg2-binary==2.9.11
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.34.0
waitress==3.0.2
whitenoise==6.11.0
